* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fafafa;
}

a {
  text-decoration: none;
}

.nav {
  background-color: black;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: sticky;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
      text-decoration-color: #7745b3;
    }
  }
}

svg {
  font-size: 3rem;
}

@media screen and (max-width: 768px) {
  #nav-links {
    justify-content: space-evenly;
    width: 100%;
  }
}
