.header {
  align-items: center;
  background-color: black;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  padding: 20px;
  position: sticky;
  width: 100%;

  a {
    color: white;

    &:hover {
      text-decoration: underline;
      text-decoration-color: #7745b3;
    }
  }
}

.nav-links {
  display: flex;
  font-size: 15px;
  gap: 10px;
  justify-content: center;
  letter-spacing: 2px;
}

.social-media {
  align-self: flex-end;

  svg {
    font-size: 2rem;

    &:hover {
      color: #7745b3;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    justify-content: center;
  }
}
