#projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
  width: 60%;
}

#inner-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
}

.project-card {
  align-items: center;
  background: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
  text-decoration: none;
  width: 40%;

  p {
    color: white;
    font-weight: normal;
    font-size: 16px;
  }

  h3 {
    font-weight: bold;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-block;
  }

  h4 {
    color: white;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 10px;
  }

  img {
    border-radius: 50%;
    max-height: 100px;
    max-width: 100px;
  }

  svg {
    color: white;

    &:hover {
      color: #7745b3;
    }
  }
}

.project-links {
  margin-top: auto;
}

@media screen and (max-width: 768px) {
  #projects {
    padding: 20px;
    width: 100%;
  }

  #inner-projects {
    flex-direction: column;
    justify-content: flex-start;
  }

  .project {
    padding: 10px;
  }

  .project-card {
    width: 100%;
  }
}
