#skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.inner-skills {
  background-color: black;
  border-radius: 10px;
  display: flex;
  gap: 100px;
  padding: 40px;
}

.skills-div {
  align-items: flex-start;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.skills-list {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
}

.skills-card {
  align-items: center;
  display: flex;
  gap: 10px;

  &:hover {
    color: #7745b3;
  }
}

@media screen and (max-width: 768px) {
  .inner-skills {
    flex-direction: column;
    gap: 20px;
  }
}
